__pycache__/
*.py[cod]
*$py.class
*.so

.env
*.env
*.log

.venv/
venv/
ENV/
env/

.idea/
*.iml

postgres_data/
pgdata/

alembic/versions/*_migration_backup.py
alembic/versions/*.pyc

celerybeat-schedule
celerybeat.pid

ngrok.exe